# new
**/*.xev.xml
**/*.xev.f90
**/*.target-*.*
**/*.target.xml
**/*.diff.*
**/*.~1~

# old
**/*.out.xml
**/*.out.f90
**/expected-xml2src
**/expected-xml2src/*
**/xev-dir2xml/*
**/xev-src2xml/*
**/xev-xml2src/*
**/a.out
**/.gitignore
**/.ptp-sync
**/.ptp-sync-folder
~$*.pptx
